html,
body {
  padding: 0;
  margin: 0;
  font-family: "Young Serif", serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  text-align: center;
  font-size: 1.9rem;
  font-family: math;
}
